/* Text Utilities */

.text {
  letter-spacing: 0.1px;
}

.text--center {
  text-align: center;
}

.text--left {
  text-align: left;
}

.text--right {
  text-align: right;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-xl {
  font-size: 4rem;
}

.text-l {
  font-size: 3.5rem;
}

.text-m {
  font-size: 3rem;
}

.text-r {
  font-size: 1.6rem;
}

.text-s {
  font-size: 1.2rem;
}
